/**********************/
/*  UI customization  */
/**********************/

/* Colors */

:root {
    /* Primary color */
    --toolbar-bgcolor: #350d27 !important;
    --autocomplete-popup-highlight-background: #350d27 !important;
    --tabpanel-background-color: #350d27 !important;
    --button-bgcolor: #350d27 !important;
    --button-primary-color: #350d27 !important;
    --toolbar-field-border-color: #350d27 !important;
    --lwt-selected-tab-background-color: #350d27 !important;
    --urlbar-box-hover-bgcolor: #350d27 !important;
    /*--------------------------------------------------*/
    /* Secondary color */
    --lwt-accent-color: #12121b !important;
    --input-bgcolor: #12121b !important;
    --arrowpanel-background: #12121b !important;
    --urlbar-box-bgcolor: #12121b !important;
    --urlbar-box-focus-bgcolor: #12121b !important;
    --chrome-content-separator-color: #12121b !important;
    /*--------------------------------------------------*/
    /* Hover color */
    --button-hover-bgcolor: rgba(170,14,128, .2) !important;
    --panel-item-hover-bgcolor: rgba(170,14,128, .2) !important;
    --urlbar-popup-action-color: rgba(170,14,128, .2) !important;
    --arrowpanel-dimmed: rgba(170,14,128, .3) !important;
    /*--------------------------------------------------*/
    /* Active color */
    --button-active-bgcolor: rgba(170,14,128, .3) !important;
    --panel-item-active-bgcolor: rgba(170,14,128, .3) !important;
    /*--------------------------------------------------*/
    /* Text */
    --lwt-text-color:  !important;
    --lwt-tab-text: #FBFBFE !important;
    --input-color: #FBFBFE !important;
    --tab-icon-overlay-fill: #FBFBFE !important;
    --toolbar-field-color: #FBFBFE !important;
    --toolbar-field-focus-color: #FBFBFE !important;
    --toolbar-color: #FBFBFE !important;
    --toolbarbutton-icon-fill: #FBFBFE !important;
    --arrowpanel-color: #FBFBFE !important;
    /*--------------------------------------------------*/
    /* Text dimmed */
    --panel-disabled-color: rgba(251,251,254, 0.5) !important;
    --panel-description-color: rgba(251,251,254, 0.7) !important;
    /*--------------------------------------------------*/
    /* Higlight */
    --lwt-brighttext-url-color: #aa0e80 !important;
    --input-border-color: #aa0e80 !important;
    --button-primary-bgcolor: #aa0e80 !important;
    --button-primary-hover-bgcolor: #bc0e90 !important;
    --button-primary-active-bgcolor: #cd0ea0 !important;
    --urlbar-popup-action-color: #aa0e80 !important;
    --focus-outline-color: #aa0e80 !important;
    --download-progress-fill-color: #aa0e80 !important;
    /*--------------------------------------------------*/
    /* Field background */
    --toolbar-field-background-color: #0c0c12 !important;
    --toolbar-field-focus-background-color: #0c0c12 !important;
    /*--------------------------------------------------*/
    /* Menu borders/separators */
    --arrowpanel-border-color: #414148 !important;
    --autocomplete-popup-separator-color: #414148 !important;
    --panel-separator-color: #414148 !important;
}

/* Download panel */
:root[lwt-popup-brighttext] panel, toolbar[brighttext]:-moz-lwtheme {
    --download-progress-fill-color: #aa0e80 !important;
}

/* Url bar icon highlight */
:root, panel, toolbar {
    --toolbarbutton-icon-fill-attention: #aa0e80 !important;
}

/* Selection highlight */
::-moz-selection {
    background-color: rgba(170,14,128, .5) !important;
}

/* Bookmark bar separator */
toolbarseparator {
    color: rgba(170,14,128, .5) !important;
}

/* Tab hover background */
#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
    background-color: var(--button-hover-bgcolor) !important;
}

/* Tab loading animation */
.tab-throbber[progress]:not([selected=true])::before {
    fill: #aa0e80 !important;
}
#tabbrowser-tabs {
    --tab-loading-fill: #aa0e80 !important;
}

/* Tab close icon */
.close-icon:hover {
    background-color: rgba(170,14,128, .3) !important;
}
.close-icon:hover:active {
    background-color: rgba(170,14,128, .2) !important;
}

/* View button separator */
:root:not([privatebrowsingmode="temporary"]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
    border-inline-start: 1px solid rgba(170,14,128, .3) !important;
}

/* Windows buttons (not close) */
toolbar .titlebar-button:not(.titlebar-close):hover {
    background-color: rgba(170,14,128, .2) !important;
}
toolbar .titlebar-button:not(.titlebar-close):hover:active {
    background-color: rgba(170,14,128, .3) !important;
}

/* Context menus */
menupopup {
    --panel-background: #12121b !important;
    --panel-color: #FBFBFE !important;
    --panel-border-color: #414148 !important;
    --content-select-background-image: linear-gradient(#12121b, #12121b) !important;
}
menupopup > menuseparator {
    border-color: #414148 !important;
}
menupopup > menuitem[_moz-menuactive="true"]:not([disabled]), 
menupopup > menu[_moz-menuactive="true"]:not([disabled]),
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) > .menu-iconic-left > .menu-iconic-icon {
    background-color: rgba(170,14,128, .3) !important;
}
menupopup > menuitem[_moz-menuactive="true"][disabled], 
menupopup > menu[_moz-menuactive="true"][disabled],
#context-navigation > menuitem[_moz-menuactive="true"][disabled] > .menu-iconic-left > .menu-iconic-icon {
    background-color: rgba(170,14,128, .1) !important;
}
menu:where([_moz-menuactive="true"]:not([disabled="true"])),
menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
    background-color: rgba(170,14,128, .3) !important;
    color: #FBFBFE !important;
}
menu:where([disabled="true"]), menuitem:where([disabled="true"]), menu:where([_moz-menuactive="true"][disabled="true"]), menuitem:where([_moz-menuactive="true"][disabled="true"]), #ContentSelectDropdown .ContentSelectDropdown-item-1:not([_moz-menuactive="true"]) {
    color: var(--panel-disabled-color) !important;
    background-color: var(--panel-background) !important;
}

/* Fix extension hover */
#nav-bar-customization-target.customization-target toolbaritem.toolbaritem-combined-buttons.unified-extensions-item.chromeclass-toolbar-additional toolbarbutton.toolbarbutton-1.unified-extensions-item-action-button.subviewbutton.panel-no-padding.webextension-browser-action:hover {
    background-color: inherit !important;
}
#nav-bar-customization-target.customization-target toolbaritem.toolbaritem-combined-buttons.unified-extensions-item.chromeclass-toolbar-additional toolbarbutton.toolbarbutton-1.unified-extensions-item-action-button.subviewbutton.panel-no-padding.webextension-browser-action:hover:active {
    background-color: inherit !important;
}
