/* Dark context menus */

:root{
  --uc-menu-bkgnd: rgb(74,74,79);
  --uc-menu-color: rgb(230,230,230);
  --uc-menu-dimmed: rgba(255,255,255,0.1);
  --uc-menu-disabled: rgb(162,162,164);
  --uc-menu-separator: rgb(92,92,97);
  --uc-menu-border: rgb(39,39,43);
}

menupopup,
menu,
menuitem{ -moz-appearance: none !important; }

menuitem,
menu{ 
  min-height: 1.8em;
}

.bookmark-item,
.menu-iconic,
.menuitem-iconic {
  min-height: 24px !important;
  max-height: 24px !important;
  line-height: 16px !important;
}

.menu-accel, .menu-iconic-accel, .menu-text, .menu-iconic-text {
  margin: 0 !important;
  padding: 1px 0 !important;
}

#context-navigation .menuitem-iconic {
  max-height: none !important;
}

menupopup:not(.PanelUI-subView),
#main-menubar > menu > menupopup,
#context-navigation{
  color: var(--uc-menu-color) !important;
  background: var(--uc-menu-bkgnd) !important;
  border-color: var(--uc-menu-border) !important;
}

menupopup:not(.PanelUI-subView) {
  padding: 4px 0px !important;
}

menupopup menuitem:not(.subviewbutton), menupopup menu:not(.subviewbutton), 
#contentAreaContextMenu menuitem, #contentAreaContextMenu menu {
  padding: 4px 8px !important;
}

#context-navigation{
  padding: 0px !important;
}

.menu-iconic-left, .menu-iconic-text {
  color: var(--uc-menu-color) !important;
}

#BMB_bookmarksPopup menupopup[placespopup="true"]{
  background: transparent !important;
}

menuseparator:not(.PanelUI-subView) {
  -moz-appearance: none !important;
  margin: 4px 10px !important;
  height: 1px !important;
  border: none !important;
  background: var(--uc-menu-separator) !important;
  padding: 0 !important
}

treechildren::-moz-tree-separator {
  border-color: var(--uc-menu-separator) !important;
  border-bottom: none !important;
}

.PanelUI-subView menuseparator, #context-sep-navigation{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.PanelUI-subView menuseparator.small-separator{
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.panel-subview-body {
    padding: 4px 0 !important;
}

#widget-overflow-mainView > .panel-subview-body > toolbarseparator, 
.PanelUI-subView menuseparator, 
.PanelUI-subView toolbarseparator, 
.cui-widget-panelview menuseparator, 
.cui-widget-panel toolbarseparator {
    margin: 4px 0 !important;
}

.PanelUI-subView toolbarseparator[orient="vertical"] {
    margin-inline-start: 6px !important;
    margin-inline-end: 7px !important;
}

menu:hover:not(.panel-subview-footer),
menu[_moz-menuactive]:not(.panel-subview-footer),
menu[open]:not(.panel-subview-footer),
menuitem:hover:not(.panel-subview-footer),
menuitem[_moz-menuactive]:not(.panel-subview-footer){ background-color: var(--uc-menu-dimmed) !important; color: inherit !important; }

menu[disabled="true"],
menuitem[disabled="true"]{ color: var(--uc-menu-disabled) !important; }

menu:not(.subviewbutton) > .menu-right{ filter: invert(1) }