/* Darker url bar */

#urlbar {
  background: rgb(37,37,39) !important;
}

/*-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-*/

/* Toolbar button border radius */

:root {
  --toolbarbutton-border-radius: 5px !important; /* Hides part of the icon over 8px. */
  }
  
.close-icon {
  border-radius: 5px !important; /* Cannot go under 2px. Reason: SVG fill, not bg color. */
}