/* Square toolbar buttons */
:root {
  --toolbarbutton-border-radius: 0 !important;
}
  
/* Darker url bar */
#urlbar {
  background: rgb(37,37,39) !important;
}

/* Ubuntu orange focus color */

.tab-line {
  background-color: #E95420 !important;
}

:root {
  --toolbar-field-focus-border-color: #E95420 !important;
}
