/*Bookmark bar spacing*/
  toolbarbutton.bookmark-item:not(.subviewbutton) {
    margin: 0 1px !important;
    padding: 5px !important;
  }
  :root[uidensity=compact] toolbarbutton.bookmark-item:not(.subviewbutton) {
    margin: 0 1px !important;
    padding: 1px 4px !important;
  }
  :root[uidensity=touch] toolbarbutton.bookmark-item:not(.subviewbutton) {
    padding: 8px !important;
  }
  /*Separator margins*/
  #PlacesToolbarItems toolbarseparator {
    margin: 0 4px !important;
  }
  /*Bottom margin*/
  #PersonalToolbar {
    padding: 0 6px 3px !important;
  }
  :root[uidensity=compact] #PersonalToolbar {
    padding: 0 6px 2px !important;
  }