/*Bookmark bar spacing*/
#PlacesToolbarItems toolbarbutton.bookmark-item
{
  margin: 0 1px !important;
  padding: 5px !important;
}
#PlacesToolbarItems toolbarseparator
{
  margin: 0 3px !important;
}