scrollbar, scrollbar *, scrollcorner {
    -moz-appearance: none !important;
    --scrollbar-bg-color: rgb(12,12,13);
    --scrollbar-corner-color: rgb(39, 39, 43);
    --scrollbar-thumb-color: hsla(0,0%,70%,.4);
    --scrollbar-thumb-hover-color: rgba(249,249,250,.4);
    --scrollbar-thumb-active-color: rgba(249,249,250,.5);  
    --scrollbar-thumb-radius: 0px;
    --scrollbar-border: 0px solid rgb(12,12,13);
    --scrollbar-width: 14px;
    --scrollbar-height: var(--scrollbar-width);
}

scrollbar {
    background: var(--scrollbar-bg-color) !important;
}
scrollcorner {
    background: var(--scrollbar-corner-color) !important;
}
scrollbar[orient="vertical"] {
    width: var(--scrollbar-width) !important;
    min-width: var(--scrollbar-width) !important;
}
scrollbar[orient="horizontal"] {
    height: var(--scrollbar-height) !important;
    min-height: var(--scrollbar-height) !important;
}

scrollbar thumb {
    background: var(--scrollbar-thumb-color) !important;
    border-radius: var(--scrollbar-thumb-radius) !important;
}
scrollbar thumb:hover{
    background: var(--scrollbar-thumb-hover-color) !important;
}
scrollbar thumb:active {
	background: var(--scrollbar-thumb-active-color) !important;
}
scrollbar thumb[orient="vertical"] {
    border-left: var(--scrollbar-border) !important;
    border-right: var(--scrollbar-border) !important;
}
scrollbar thumb[orient="horizontal"] {
    border-top: var(--scrollbar-border) !important;
    border-bottom: var(--scrollbar-border) !important;
}

/* I could add buttons in the future, but who uses them anymore? */