/*Bookmark bar sparators*/
  #PlacesToolbarItems toolbarseparator
  {
    -moz-appearance: none !important;
    visibility: visible !important;
    text-shadow: none !important;
    /*Light version*/
    /*border-right: 1px solid #dcdddd !important;*/
    /*Dark version*/
    border-right: 1px solid #5b5b5c !important;
  }
